= form_for(task) do |f|
  .form-label-group
    = f.label :title, 'タスク名'
    = f.text_field :title, class: 'form-control'
  .form-label-group.mb-3
    = f.label :description, 'タスク内容'
    = f.text_area :description, class: 'form-control'
  .text-center
    = f.submit '送信', class: "btn btn-primary btn-block"